<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
        {% if frankenphpHotReload %}
        <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
        <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
        <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %}
    </head>
    <body>
        <header>
            <img src="{{ asset('images/logo.png') }}" alt="Logo" width="100" height="100">
            <nav>
                <ul>
                    <li><a href="{{ path('app_page') }}">Home</a></li>
                    <li><a href="{{ path('app_about') }}">About</a></li>
                </ul>
            </nav>
        </header>
        {% block body %}
        {% endblock %}
        <footer>
            <p>&copy; {{ "now"|date("Y") }} TechBiz. All rights reserved.</p>
        </footer>
    </body>
</html>
